<div class="mui--text-dark-secondary mui--text-body2">{{ title }}</div>
<div class="mui-divider"></div>
<br />
<br />
<div class="mui-row contacts">
  <div class="mui-col-md-2"></div>
  <div class="mui-col-md-8 contacts-list">
    <div
      class="mui--text-subhead mui--divider-bottom"
      *ngFor="let contact of contacts"
    >
      <i [class]="contact.icon" aria-hidden="true"></i
      ><span class="contacts-row-content">{{ contact.content }}</span>
    </div>
  </div>
  <div class="mui-col-md-2"></div>
</div>
<br />
