<div class="mui--text-dark-secondary mui--text-body2">{{title}}</div>
<div class="mui-divider"></div>
<br />
<br />
<!-- form goes here -->
<div class="mui-panel">
  <form class="mui-form" [formGroup]="callBackForm" (ngSubmit)="onSubmit()">
    <div class="mui-textfield mui-textfield--float-label">
      <textarea required  formControlName="question"></textarea>
      <label>Ваш вопрос</label>
    </div>
    <div class="mui-row">
      <div class="mui-col-md-4">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text" required  formControlName="fio"/>
          <label>Фамилия Имя</label>
        </div>        
      </div>
      <div class="mui-col-md-3">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="email" required  formControlName="email"/>
          <label>Email</label>
        </div>        
      </div>
      <div class="mui-col-md-3">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text"  formControlName="phone"/>
          <label>Номер телефона</label>
        </div>         
      </div>
      <div class="mui-col-md-2">
        <div class="mui-textfield mui-textfield--float-label">
          <input type="text"  formControlName="ext"/>
          <label>Добавочный</label>
        </div> 
      </div>
    </div>    
    <div class="mui-checkbox">
      <label>
        <input type="checkbox" value="" checked required formControlName="access"/>
        Принимаю <a href="#agreement">условия конфиденциальности</a>
      </label>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised" [disabled]="!callBackForm.valid">Submit</button>
  </form>
</div>
<!-- form end -->
<br />
<br />
