<div class="mui--text-dark-secondary mui--text-body2">ОБРАТНАЯ СВЯЗЬ</div>
<div class="mui-divider"></div>
<br />
<br />
<!-- form goes here -->
<div class="mui-panel">
  <form class="mui-form">
    <div class="mui-textfield mui-textfield--float-label">
      <input type="text" required />
      <label>Фамилия Имя</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
      <input type="email" required />
      <label>Email</label>
    </div>
    <div class="mui-textfield mui-textfield--float-label">
      <textarea required></textarea>
      <label>Ваш вопрос</label>
    </div>
    <div class="mui-checkbox">
      <label>
        <input type="checkbox" value="" checked />
        Принимаю <a href="#agreement">условия конфиденциальности</a>
      </label>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
  </form>
</div>
<!-- form end -->
<br />
<br />
