<div id="sidebar">
  <div class="mui--text-light mui--text-display1 mui--align-vertical">
    {{ title }}
  </div>
  <br />
  <br />
  <!-- Menu posts go here -->
  <app-menu></app-menu>
</div>
<div id="content" class="mui-container-fluid">
  <!-- blog posts go here -->
  <div class="mui-row">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
      <br />
      <br />
      <app-contact></app-contact>
      <br />
      <br />
      <app-callback></app-callback>
      <br />
      <br />
      <!-- <app-suggest></app-suggest>
      <br />
      <br />   -->
      <app-agreement></app-agreement>
      <br />
      <br />
      <!-- <app-faq></app-faq>
      <br />
      <br /> -->
    </div>
  </div>
</div>
