<div id="sidebar">
  <div class="mui--text-light mui--text-display1 mui--align-vertical">
    <a href="/">{{ title }}</a>
  </div>
  <br />
  <br />
  <!-- Menu posts go here -->
  <app-menu (selectedComponent)="shownComponent = $event"></app-menu> 
</div>
<div id="content" class="mui-container-fluid">
  <!-- blog posts go here -->
  <div class="mui-row">
    <div class="mui-col-sm-10 mui-col-sm-offset-1">
      <br />
      <br />
      <app-contact *ngIf="shownComponent.contact"></app-contact>
      <app-callback *ngIf="shownComponent.callback"></app-callback>
      <app-suggest *ngIf="shownComponent.suggest"></app-suggest>
      <app-agreement *ngIf="shownComponent.agreement"></app-agreement>
      <app-faq *ngIf="shownComponent.faq"></app-faq>
    </div>
  </div>
</div>
